<div class="contents row">
  <div class="container">
    <h3>編集する</h3>
    <%= form_with(model: @tweet, local: true) do |form| %>
      <%= form.text_field :tops_size,  placeholder: "Tops_size" %>
      <%= form.text_field :bottoms_size,  placeholder: "Bottoms_size" %>
      <%= form.text_field :shoes_size,  placeholder: "Shoes_size" %>
      <%= form.file_field :image %>
      <%= form.text_area :text, placeholder: "Memo", rows: "10" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>